#csc-3col-container{
  float: left;
  width: 100%;
}

.csc-3col-right2{
  margin-left: 150px; /*Set left margin to fixed column width*/
}

.csc-3col-col-fixed{
  float: left;
  width: 150px; /*Width of fixed column*/
  margin-right: -100%;
}

.csc-3col-col-fluid{
  width: 50%;
  display: table-cell;
  vertical-align: top;
  /*float: left;*/
}
