/* Global variables, mixins, etc. */
/* line 96, ../../../../../sass/_global.scss */
#csc-right.csc-calendar .date-nav-wrapper .date-prev, #csc-right.csc-calendar .date-nav-wrapper .date-next {
  font-family: Brandon, Georgia;
}

/* line 3, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translateX(591px);
  -moz-transform: translateX(591px);
  -ms-transform: translateX(591px);
  -o-transform: translateX(591px);
  transform: translateX(591px);
  position: fixed;
  right: 0px;
  top: 76px;
  z-index: 50;
  height: 100%;
  width: 339px;
  min-height: 750px;
  opacity: 0.98;
  border-left: solid 1px #e0e0e0;
  background: #ffffff;
}
@media only screen and (max-width: 640px) {
  /* line 3, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 58px;
    position: absolute;
    /*height: 500px;*/
    width: 168px;
    font-size: 1em;
  }
  /* line 26, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right h2 {
    margin-top: 8px;
  }
  /* line 29, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right #csc-column-content {
    padding: 2px 8px;
    width: 157px;
  }
  /* line 33, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right #edit-search-block-form--2 {
    width: 7.4em;
  }
  /* line 36, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-right .form-text {
    width: 120px;
    margin-left: 3px;
  }
}
/* line 42, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.in {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 46, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right form {
  padding-right: 0.6em;
}
/* line 50, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar {
  width: 930px;
  overflow: scroll;
}
/* line 53, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar #csc-column-content {
  width: 891px;
  /*padding-top: 0px;*/
}
/* line 57, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar h3 {
  margin-top: 0em;
}
/* line 60, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar .date-nav-wrapper {
  background-color: white;
}
/* line 62, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar .date-nav-wrapper .date-prev, #csc-right.csc-calendar .date-nav-wrapper .date-next {
  background-color: white;
}
/* line 65, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar .date-nav-wrapper .date-prev a, #csc-right.csc-calendar .date-nav-wrapper .date-next a {
  font-size: 1.2em;
  color: #3c3c3c;
}
/* line 71, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-right.csc-calendar .item-list .pager a {
  padding: 8px 15px;
}

/* line 77, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-top {
  float: left;
  width: 100%;
  position: relative;
  background: #e8e7e5;
}

/* line 84, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-title {
  margin: 12px 0px 8px;
  opacity: 0.7;
  color: #000;
  font-family: brandon;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 84, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-column-title {
    font-size: 14px;
  }
}

/* line 98, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font: bold 18px brandon;
  text-transform: uppercase;
  color: #444;
}
@media only screen and (max-width: 640px) {
  /* line 98, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
  #csc-column-close {
    right: 8px;
    top: 6px;
    font-size: 15px;
  }
}

/* line 113, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
#csc-column-content {
  /*width: 339px;*/
  padding: 60px 20px 20px 20px;
  /*> div, form {*/
  /*position: relative;*/
  /*top: 20px;*/
  /*}*/
}

/* line 122, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
.csc-hide {
  display: none;
}

/* line 123, ../../../../../sass/sites/all/modules/csc_column/css/csc_column.scss */
.csc-show {
  display: block;
}
